:root {
    --mlh-yellow: #F5B92A;
    --mlh-yellow-low: #f5b82a28;
    --mlh-yellow-low2: #f5b82a17;
    --light-blue: #38B6FF;
    --light-blue-low: #38b6ffcb;
    --mlh-blue: #004AAD;
    --mlh-blue-low: #004AAD28; 
    --mlh-blue-low2: #004bad13; 
    --text-grey: #d3d3d3;   
    --text-grey-low: #d3d3d328;   
    --text-grey-low2: #d3d3d317;   
}

.content-container {
    grid-template-columns: 1fr 2fr;
}

.left-pane-container .heading{
    margin-bottom: 0;
    text-align: center;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 1rem;    
    padding: 1rem;
    width: 100%;
    background: var(--mlh-blue-low);    
}

.form-user-info{
    display: flex;
    gap: 1rem;
}

#name, #email{
    padding: 7px;
    width: 100%;
}

#form textarea, #form button, #form input{
    font-size: 16px;
    border-radius: 7px;
}

#form button{
    padding: 7px;
    background: var(--mlh-blue);
    color: white;
    text-transform: uppercase;  
}

#form textarea{
    padding: 7px;
}

.pane-text {
    border-radius: 0 0 7px 7px;    
}

.pane-text p {
    padding: 0 10px;
    font-size: unset;
}

.timeline-post{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    gap: 5px;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--text-grey-low);
}

p.post-user-info, p.post-date{
    font-size: 12px;
    max-width: unset;
    line-height: unset;
}

p.post-user-info{
    color: var(--text-grey);
    padding-left: 7px;
}

p.post-content{
    border-radius: 7px;
    color: var(--text-grey);
    max-width: max-content;
    background: var(--mlh-blue);
}

p.post-date{
    position: relative;
    color: var(--text-grey);
    padding: 7px;
    border-radius: 7px;
    width: max-content;
    align-self: flex-end;    
}

