{% extends "main.html" %}
{% block styleSheet %}
<link lang="sass" rel="stylesheet" href="./static/styles/hobbies.css" />
{% endblock %}

{% block leftPane %}
<div class="left-pane-container">
    <div class="hobby-image"></div>
</div>
{% endblock %} {% block rightPane %} {% block paneContent %}
<div class="pane-content">
    <div class="heading">
        <h2>My Hobbies</h2>
    </div>
    <div class="pane-text">
        {% for hobby in hobbies %}
        <details name="hobbies" data-image-url="{{ hobby['img_url'] }}" {% if loop.index==1 %}open{% endif %}>
            <summary>{{ hobby['title'] }}</summary>
            <div class="detial-content">
                <p class="description">{{ hobby["description"] }}</p>
            </div>
        </details>
        {% endfor %}
    </div>
</div>
{% endblock %} {% endblock %}
{% block Scripts %}
<script src="../static/scritps/hobbies.js"></script>
{% endblock %}