<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/satoshi.webp">
        </div>
        <h1>{{ title }} <br> Satoshi S.</h1>
    </div>
    <div class="about container">
        <h2>About Myself</h2>
        <p><span class="accent">S</span>atoshi is a full-stack developer, who is looking for opportunities to learn something new. He enjoys collaborating with other developers in open source ecosystems.</p>
    </div>
    <div class="work container">
        <h2>Work Experiences</h2>
        <ul>
            <li>
                <strong>Frontend Developer</strong>
                <br>Ori.Gatou Creative Solution Inc. - Apprenticeship
                <br><span class="year">2024 Jan - 2024 Apr</span>
                <ul>
                    <li>Created reactive data analytics dashboard with Svelte and D3.js.</li>
                    <li>Integrated a backend API to fetch data with the front end.</li>
                </ul>
            </li>
            <li>
                <strong>Frontend Developer</strong>
                <br>Ori.Gatou Creative Solution Inc. - Apprenticeship
                <br><span class="year">2024 Jan - 2024 Apr</span>
                <ul>
                    <li>Created reactive data analytics dashboard with Svelte and D3.js.</li>
                    <li>Integrated a backend API to fetch data with the front end.</li>
                </ul>
            </li>
            <li>
                <strong>Frontend Developer</strong>
                <br>Ori.Gatou Creative Solution Inc. - Apprenticeship
                <br><span class="year">2024 Jan - 2024 Apr</span>
                <ul>
                    <li>Created reactive data analytics dashboard with Svelte and D3.js.</li>
                    <li>Integrated a backend API to fetch data with the front end.</li>
                </ul>
            </li>
            <li>

                <strong>React Teaching Assistant</strong>
                <br>ComIT
                <br><span class="year">2023 Sep - 2023 Dec</span>
                <ul>
                    <li>Provide additional assistance to students in troubleshooting, understanding course materials, and completing assignments through chat and video calls.</li>
                    <li>Maintain attendance records and communicate with the instructor and program coordinators to address student absences and issues related to class participation.</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>