<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main2.css" />
    {% block styleSheet %}{% endblock %}
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{% block title %}{% endblock %}{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <button class="nav-toggle hidden">
          <span class="top-bar"></span>
          <span class="mid-bar"></span>
          <span class="bottom-bar"></span>
        </button>
        <nav>
          <a href="/">
            <div class="nav-logo">
              <img src="/static/img/logo.svg" alt="mlh logo"/>
            </div>
          </a>
          <ul class="nav-list">
            {% block navList %}
            <li class="nav-item"><a href="/">About</a></li>
            <li class="nav-item">
              <a href="/experience">Work Experience</a>
            </li>
            <li class="nav-item"><a href="/hobbies">Hobbies</a></li>
            <li class="nav-item"><a href="/travel-map">Travel Map</a></li>
            <li class="nav-item"><a href="/timeline">Timeline</a></li>

            {% endblock %}
          </ul>
          <div class="socials">
            <a
              class="github"
              href="https://github.com/FrankObedi"
              target="_blank"
            >
              <img src="./static/img/github.png" alt="github" />
            </a>
            <a
              class="linkedin"
              href="https://www.linkedin.com/in/frank-m-obedi/"
              target="_blank"
            >
              <img src="./static/img/linkedin.png" alt="linkedin" />
            </a>
          </div>
        </nav>
      </div>
    </header>
    <div class="ui-container">
      <div class="content-container">
        {% block leftPane %}
        <div class="left-pane-container">
          <div class="heading">
            <h2>MLH Fellow</h2>
          </div>
          <div class="img-card">
            <img class="profile-img" src="../static/img/frank.png" />
            <h2 class="card-title">Full-Stack Dev</h2>
          </div>
        </div>
        {% endblock %}
        {% block rightPane %}
        <div class="pane-container">
          {% block paneContent %}
          <div class="pane-content">
            <div class="heading">
              <h2>About Me</h2>
            </div>
            <div class="pane-text">
              <h2>I'm Frank Obedi</h2>
              <p>
                An aspiring full-stack developer and MLH Fellow working and
                living in Canada.
              </p>
            </div>
          </div>

          <div class="pane-content">
            <div class="heading even-heading">
              <h2>Education</h2>
            </div>
            <div class="pane-text">
              <h2>Computer Science</h2>
              <p>Wilfrid Laurier University</p>
              <p class="dates">Sep 2020 - Apr 2025</p>
            </div>
          </div>
          {% endblock %}
        </div>
        {% endblock %}
      </div>
    </div>
    <!-- Script tag to include main.js -->
    {% block Scripts %}
      <script src="../static/scritps/main.js"></script>
    {% endblock %}
  </body>
</html>
